extends ../frontlayout

block content
  #home.parallax-content-list.baner-content-listing-biz
    .container
      .xxx
        a.btn-gp-link(href="/auth/google")
          button.btn-gp
            i.fa.fa-fw.fa-google-plus.pull-left(aria-hidden='true')          
            |                 Login with Google